<web-app id="vin-decoder"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <resource-ref>
    <res-ref-name>java:global/imagedb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>

  <!-- to use environment variables, use ${env.VARNAME} -->

  <data-source>
    <name>java:global/imagedb</name>
    <class-name>org.postgresql.ds.PGConnectionPoolDataSource</class-name>
    <url>jdbc:postgresql://localhost:5432/sampledb</url>
    <user>username</user>
    <password>password</password>
  </data-source>

  <!--

<data-source>
  <name>java:global/imagedb</name>
  <class-name>org.apache.derby.jdbc.EmbeddedDriver</class-name>
  <url>jdbc:derby:target/imagedb;create=true</url>
</data-source>
  -->

</web-app>
